<!-- Need to get ride of this inline CSS... -->

  <div class="row col-md-10 col-md-offset-1">
    <h2 class="text-center">About Aaron Eichhorst</h2>
     <div class="well ">
        <h3 class="text-center" style="font-weight: bold;">Aaron Eichhorst <br> Chicago / NW Suburbs </h3>

<br>


Summary:
A passionate programmer with a drive to learn and grow within the industry.
I have been studying programming for over two years as a part time hobby and have decided to apply these skills to my professional career.
I've worked within professional business settings for over 10 years
and have spent the past couple years as a SME / Product Owner to revamp a legacy application at my current job.
I have effective communication skills and work well in a team setting.
I'm looking for a Jr. Programming job so that I can devote 100% of my time to something I love to do. 
<br>
<br>
<div class="text-center" style="font-weight: bold;">Competencies/Skills: </div> <br>

Computer Programming: Java, Ruby on Rails, JavaScript, HTML, CSS, PostgreSQL <br>
Project Management Methodologies: Agile, Kaizen, Scrum.<br>
Business Related: Analytics, Procurement, Cost Analysis, Client Relations, Client Retention,
Process Improvement, MS Word, Excel, Outlook, Access, Power Point<br>
<br>
<div class="text-center" style="font-weight: bold;">Professional Experience: </div> <br>

Wheels Inc. Des Plaines, IL - Product Owner      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Jan 2016 – Feb 2017

<br>
Roles and Responsibilities:<br>
Gathered requirements and mapped processes using Agile methodologies.<br>
Reported into a team of executive stakeholders in weekly sprint reviews.<br>
Managed project scope and a user story backlog to prioritize business needs throughout the development process.<br>
Worked closely with the UX team to document both functional and nonfunctional requirements and design patterns
while maintaining company business standards throughout.<br>
Prioritize and facilitated the product backlog refinement for achievable sprints<br>
Work with the development team during sprint planning and backlog refinement to make sure the features are understood.<br>
Demonstrate the product features and functionality.<br>
Developed training modules for new system roll out.<br>
Coordinated User Acceptance Testing and documented test scenarios.<br>

<br>
Wheels Inc. Des Plaines, IL - Account Executive      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Apr 2010 – Present

<br>
Roles and Responsibilities:<br>
Managed a diverse portfolio of clients in pharmaceutical and sales industries.<br>
Day to day contact and escalation point for all aspects of the vehicle lease.<br>
Over saw accounting and cost analysis of vehicle life cycles to adhere to client procurement budgets.<br>
Excelled in client retention, fleet versatility and strategic sourcing<br>
Trained and mentored new Fleet Administrators / Associate Account Executives<br>
Subject matter expert on all internal applications and processes and participated
in Kaizen sessions to provide guidance on new product and process improvements.<br>
Participated in Annual and Quarterly business reviews with Account Managers<br>
Managed reporting and custom queries to aid clients in fleet management<br>
Built vehicle templates and specifications for total cost of ownership analysis
so that clients can include the appropriate vehicles for their fleet needs.<br>
<br>
<div class="text-center" style="font-weight: bold;">Education:</div><br>
Upskill Course – Full Stack Ruby on Rails development for saas web application<br>
Free Code Camp - JavaScript, Bootstrap, HTML, CSS, Algorithms <br>
Khan Academy – Computer Science / Programming<br>
Oakton Community Collage - Associate of Arts Business Management 2012 - 2015<br>

    </div>
  </div>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<a href="/users/sign_in" class="btn btn-default navbar-btn">Log In</a>
