<!-- Need to get ride of this inline CSS... -->
<a href="https://www.linkedin.com/in/aaron-eichhorst-3a348862?trk=nav_responsive_tab_profile_pic" target="_blank" ><input style="position:absolute; font-size:20px; width:200px; height:40px; color:skyblue; background-color:black; left: 460px; top:60px;"type="button" value="Linkedin"</a>
<a href="https://github.com/piGuy314" target="_blank"><input style="position:absolute; font-size:20px; width:200px; height:40px; color:skyblue; background-color:black; left: 670px; top:60px;" type="button" value="Github"></a>

  <div class="row">
     <div class="well">
        <h2 class="text-center">About Aaron Eichhorst</h2>
        <h3>A dedicated employee with over a decade of experience in a professional business environment.
        I’m able to solve problems in an effective and creative manner even in the most challenging situations.
        I enjoy working in a team environment and achieving a common goal through collaboration.
         <br><br>
        Product Owner
        Wheels Inc
        August 2015 – February 2017 (1 year 7 months)
        -Worked with a team of developers on various industry projects from start to implementation <br>
        -Gathered requirements and mapped processes using Agile and Waterfall methodologies. <br>
        -Reported into a team of executive stakeholders in weekly sprint reviews. <br>
        -Managed project scope and a user story backlog to prioritize business needs throughout the development process.<br>
        -Worked closely with the UX team to document both functional and nonfunctional
        requirements and design patterns while maintaining company business standards throughout. <br>
        -Co-developed training modules for new system roll out.<br>
        -Coordinated User Acceptance Testing and documented test scenarios.<br>
        -Some scrum master experience with exposure to burn down and burn up charts as well as resource management. </h3>
        <br/>
        <br/>
    </div>
  </div>
</div>
