<h1 class="text-center">Here are my learnings in Java!<h1>

  <div class="container">
    <!--
      <img id=bourbon style= width:900px;  src="http://blogs-images.forbes.com/karlaalindahao/files/2015/02/pappy_crop-1152x648.jpg">
    -->

<h3 class='text-center'>A Simple interest program</h3>
  <div class='container'>
    <div class'col-md-6'>
      <div class='well'>
        <h3>
              public class myClass { <br><br>

            &nbsp  &nbsp  &nbsp  public static void main(String args[]) { <br><br>

            &nbsp &nbsp  &nbsp  &nbsp &nbsp    double principal, years, rate, interest; <br><br>

            &nbsp &nbsp  &nbsp  &nbsp &nbsp     Scanner sc= new Scanner(System.in); <br><br>

            &nbsp &nbsp  &nbsp  &nbsp &nbsp     System.out.println("Enter principal amount"); <br>
            &nbsp &nbsp  &nbsp  &nbsp &nbsp     principal= sc.nextDouble(); <br><br>

            &nbsp &nbsp  &nbsp  &nbsp &nbsp     System.out.println("Enter number of years"); <br>
            &nbsp &nbsp  &nbsp  &nbsp &nbsp     years= sc.nextDouble(); <br><br>

            &nbsp &nbsp  &nbsp  &nbsp &nbsp     System.out.println("Enter interest rate"); <br>
            &nbsp &nbsp  &nbsp  &nbsp &nbsp     rate= sc.nextDouble(); <br><br>

            &nbsp &nbsp  &nbsp  &nbsp &nbsp     interest=(principal*years*rate)/100; <br><br>

            &nbsp &nbsp  &nbsp  &nbsp &nbsp     System.out.println("The interest will be : " +interest) <br><br>


            &nbsp  &nbsp  } <br><br>
              } <br>

      </h3>
    </div>

    <h3 class='text-center'>Random number generator - Dice</h3>
    <div class='container'>
      <div class'col-md-6'>
        <div class='well'>
          <h3>

          import java.util.Scanner; <br>
          import java.util.Random; <br><br>

          public class myclass { <br><br>

              &nbsp  &nbsp  &nbsp public static void main(String args[]) { <br><br>

                &nbsp &nbsp  &nbsp  &nbsp &nbsp  Random dice = new Random();
                &nbsp &nbsp  &nbsp  &nbsp &nbsp  int number; <br><br>

                &nbsp &nbsp  &nbsp  &nbsp &nbsp  for (int i=0;i<10;i++) { <br><br>

                &nbsp &nbsp  &nbsp  &nbsp &nbsp      number = 1+dice.nextInt(6); <br>
                &nbsp &nbsp  &nbsp  &nbsp &nbsp      System.out.println(number); <br><br>

                &nbsp  &nbsp  &nbsp &nbsp } <br>
              &nbsp  &nbsp } <br>
          } <br>

  </h3>
</div>

<br>
<br>
<br>
<br>
<br>
