<h1 class="text-center">Here are my learnings in Java!<h1>

  <div class="container">
    <!--
      <img id=bourbon style= width:900px;  src="http://blogs-images.forbes.com/karlaalindahao/files/2015/02/pappy_crop-1152x648.jpg">
    -->

    <h3 class='text-center'>A Simple interest program</h3>
    <div class='container'>
      <div class'col-md-6'>
        <div class='well'>
        <h3>
              public class myClass { <br><br>

              &nbsp  &nbsp  public static void main(String args[]) { <br><br>

                &nbsp  &nbsp &nbsp    double principal, years, rate, interest; <br><br>

                &nbsp  &nbsp &nbsp     Scanner sc= new Scanner(System.in); <br><br>

                &nbsp  &nbsp &nbsp     System.out.println("Enter principal amount"); <br>
                &nbsp  &nbsp &nbsp     principal= sc.nextDouble(); <br><br>

                &nbsp  &nbsp &nbsp     System.out.println("Enter number of years"); <br>
                &nbsp  &nbsp &nbsp     years= sc.nextDouble(); <br><br>

                &nbsp  &nbsp &nbsp     System.out.println("Enter interest rate"); <br>
                &nbsp  &nbsp &nbsp     rate= sc.nextDouble(); <br><br>

                &nbsp  &nbsp &nbsp     interest=(principal*years*rate)/100; <br><br>

                &nbsp  &nbsp &nbsp     System.out.println("The interest will be : " +interest) <br><br>


              &nbsp &nbsp   } <br><br>
              } <br>


    </div>
