<h1 class="text-center"><b>Intellij IDEA Projects / code</b></h1>
<h2 class="text-center"><b>*My goal is to eventually translate this Java code into JavaScript in order to display live output on this webpage.</b><h2>


  <div class="container">
    <!--
      <img id=bourbon style= width:900px;  src="http://blogs-images.forbes.com/karlaalindahao/files/2015/02/pappy_crop-1152x648.jpg">
    -->

<h3 class = 'text-center'>Method Overloading</h3 div class = 'col-md-6'>
<div class = 'well'>
<h3>
public class Main {<br><br>

public static void main(String[] args) {<br><br>

&nbsp  &nbsp int newScore = calculateScore("Aaron", 500);<br>
&nbsp  &nbsp System.out.println("New score is " + newScore);<br><br>

&nbsp  &nbsp int SecondScore = calculateScore(75);<br>
&nbsp  &nbsp System.out.println("The second new score is " + SecondScore);<br><br>

&nbsp  &nbsp int thirdScore = calculateScore();<br>
&nbsp  &nbsp System.out.println("this is the third score " + thirdScore);<br><br>


&nbsp  &nbsp double centimeters = calcFeetAndInchesToCentimeters(6   , 13);<br>
&nbsp  &nbsp if(centimeters < 0.0){<br>
&nbsp  &nbsp System.out.println("Invalid parameters");<br>
&nbsp  &nbsp }<br><br>

&nbsp  &nbsp calcFeetAndInchesToCentimeters(100);<br>
&nbsp  &nbsp calcFeetAndInchesToCentimeters(-10);<br><br>
}<br><br>

public static int calculateScore(String playerName, int score){<br><br>

&nbsp  &nbsp System.out.println("Player " + playerName + " scored " + score + " points ");<br>
&nbsp  &nbsp return score * 1000;<br><br>

}<br><br>

public static int calculateScore(int score){<br><br>

&nbsp  &nbsp System.out.println("Unknown Player " + score + " points ");<br>
&nbsp  &nbsp return score * 1000;<br><br>

}<br><br>



public static int calculateScore(){<br>
&nbsp  &nbsp System.out.println("Another method but with no parameters ");<br>
&nbsp  &nbsp return 0;<br><br>

}<br><br>

public static double calcFeetAndInchesToCentimeters(double feet, double inches){ <br>
&nbsp  &nbsp if((feet < 0 ) || ((inches < 0) || (inches > 12))){<br>
&nbsp  &nbsp System.out.println("Invalid feet or inches parameters");<br>
&nbsp  &nbsp return -1;<br>
}<br><br>

&nbsp  &nbsp double centimeters = (feet * 12) * 2.54;<br>
&nbsp  &nbsp centimeters += inches * 2.54;<br>
&nbsp  &nbsp System.out.println(feet + " feet " + inches + " inches " + centimeters + " cm.");<br>
&nbsp  &nbsp return centimeters;<br><br>

&nbsp  &nbsp }<br><br>

public static double calcFeetAndInchesToCentimeters(double inches){<br><br>

&nbsp  &nbsp if (inches < 0) {<br>
&nbsp  &nbsp return -1;<br>
&nbsp  &nbsp }<br><br>

&nbsp  &nbsp double feet = (int) inches / 12;<br>
&nbsp  &nbsp double remainingInches = (int) inches % 12;<br>
&nbsp  &nbsp System.out.println(inches + " inches is equal to " + feet + " feet and " + remainingInches + " inches");<br>
&nbsp  &nbsp return calcFeetAndInchesToCentimeters(feet, remainingInches);<br><br>

&nbsp  &nbsp }<br><br>

}<br><br>

</div>
</div>


<h3 class='text-center'>Calculator Project<br><br><i class="fa"></i></h3>    <div class'col-md-6'>
      <div class='well'>
        <h3>
Main.java File<br>
package sample;<br><br>

import javafx.application.Application;<br>
import javafx.fxml.FXMLLoader;<br>
import javafx.scene.Parent;<br>
import javafx.scene.Scene;<br>
import javafx.stage.Stage;<br><br>

public class Main extends Application {<br><br>

@Override<br>
public void start(Stage primaryStage) throws Exception{<br>
&nbsp  &nbsp  &nbsp Parent root = FXMLLoader.load(getClass().getResource("sample.fxml"));<br>
&nbsp  &nbsp  &nbsp primaryStage.setTitle("Hello World");<br>
&nbsp  &nbsp  &nbsp primaryStage.setScene(new Scene(root, 300, 275));<br>
&nbsp  &nbsp  &nbsp primaryStage.show();<br>
}<br><br><br>


public static void main(String[] args) {<br>
&nbsp  &nbsp  &nbsp launch(args);<br><br>
&nbsp  }<br>
}<br><br>

Controller.java File<br>
package sample;<br><br>

import javafx.event.ActionEvent;<br>
import javafx.scene.control.Button;<br>
import javafx.scene.text.Text;<br><br><br>


public class Controller {<br><br>

public Text output;<br>
private long number1=0;<br>
public String operator="";<br>
private boolean start= true;<br>
Model model=new Model();<br><br>

public void processnum(ActionEvent event){<br><br>

&nbsp  &nbsp  &nbsp if(start){<br>
&nbsp  &nbsp  &nbsp output.setText("");<br>
&nbsp  &nbsp  &nbsp start=false;<br><br>

}<br><br>

&nbsp  &nbsp  &nbsp String value= ((Button)event.getSource()).getText();<br>
&nbsp  &nbsp  &nbsp output.setText(output.getText()+ value);<br><br>

}<br><br>

public void processop(ActionEvent event){<br><br>

&nbsp  &nbsp  &nbsp String value= ((Button)event.getSource()).getText();<br><br>

if(!"=".equals(value)){<br>
&nbsp  &nbsp  if(!operator.isEmpty())<br>
&nbsp  &nbsp  &nbsp return;<br><br>

&nbsp  &nbsp  &nbsp operator=value;<br><br>

&nbsp  &nbsp  &nbsp number1=Long.parseLong(output.getText());<br>
&nbsp  &nbsp  &nbsp output.setText("");<br><br>

&nbsp }<br>
&nbsp  &nbsp else {<br>
&nbsp  &nbsp if (operator.isEmpty())<br>
&nbsp  &nbsp  &nbsp   return;<br><br>

&nbsp  &nbsp  &nbsp output.setText(String.valueOf(model.calculate(number1,Long.parseLong(output.getText()),operator)));<br>
&nbsp  &nbsp  &nbsp operator="";<br>
&nbsp  &nbsp  &nbsp start=true;<br><br>

&nbsp  &nbsp }<br>
&nbsp  }<br>
}<br>

Model.java File<br>
package sample;<br><br>

public class Model {<br><br>

public long calculate(long number1,long number2,String operator){<br><br>

&nbsp  &nbsp  &nbsp switch(operator) {<br><br>

&nbsp  &nbsp  case "+":<br>
&nbsp  &nbsp  eturn number1+number2;<br>
&nbsp  &nbsp  case "-":<br>
&nbsp  &nbsp  return number1-number2;<br>
&nbsp  &nbsp  case "*":<br>
&nbsp  &nbsp  return number1*number2;<br>
&nbsp  &nbsp  case "/":<br>
&nbsp  &nbsp  if (number2==0)<br>
&nbsp  &nbsp  &nbsp   return 0;<br><br>

&nbsp  &nbsp  &nbsp return number1/number2;<br><br>

}<br><br>

&nbsp  &nbsp  &nbsp return 0;<br><br>

&nbsp }<br>
}<br>



<img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/20994217_1803573379659032_6028826741045937552_n.png?oh=d187323636e9d89aef51e17943763b7d&oe=5A23C486"></img>
</h3>
</div>


<h3 class='text-center'>Body Mass Index Calculator<br><br><i class="fa"></i></h3>
<div class'col-md-6'>
<div class='well'>
<h3>
Main.java file<br>
package sample;<br><br>

import javafx.application.Application;<br>
import javafx.fxml.FXMLLoader;<br>
import javafx.scene.Parent;<br>
import javafx.scene.Scene;<br>
import javafx.stage.Stage;<br><br>

public class Main extends Application {<br><br>

@Override<br>
public void start(Stage primaryStage) throws Exception{<br>
&nbsp  &nbsp  &nbsp Parent root = FXMLLoader.load(getClass().getResource("sample.fxml"));<br>
&nbsp  &nbsp  &nbsp primaryStage.setTitle("Hello World");<br>
&nbsp  &nbsp  &nbsp primaryStage.setScene(new Scene(root, 500, 500));<br>
&nbsp  &nbsp  &nbsp primaryStage.show();<br>
}<br><br><br>


public static void main(String[] args) {<br>
&nbsp  &nbsp  &nbsp launch(args);<br><br>
&nbsp  }<br>
}<br><br>

&nbsp  &nbsp  &nbsp Controler.Java file<br>
&nbsp  &nbsp  &nbsp package sample;<br><br>

&nbsp  &nbsp  &nbsp import javafx.scene.control.Label;<br>
&nbsp  &nbsp  &nbsp import javafx.scene.control.TextField;<br><br>

&nbsp  &nbsp  &nbsp public class Controller {<br><br>

&nbsp  &nbsp  &nbsp public TextField theight;<br>
&nbsp  &nbsp  &nbsp public TextField tweight;<br><br><br><br>



&nbsp  &nbsp  &nbsp public Label lbmi;<br>
&nbsp  &nbsp  &nbsp public Label lresult;<br><br>


&nbsp  &nbsp  &nbsp public void buttonclicked(){<br><br>

&nbsp  &nbsp  &nbsp double height;<br>
&nbsp  &nbsp  &nbsp double weight;<br>
&nbsp  &nbsp  &nbsp double bmi;<br><br>

&nbsp  &nbsp  &nbsp String result="";<br><br>

&nbsp  &nbsp  &nbsp height= Double.parseDouble(theight.getText());<br>
&nbsp  &nbsp  &nbsp weight= Double.parseDouble(tweight.getText());<br><br>


&nbsp  &nbsp  &nbsp height = height*.025;<br>
&nbsp  &nbsp  &nbsp weight = weight*.45;<br>
&nbsp  &nbsp  &nbsp bmi= height*height;<br>
&nbsp  &nbsp  &nbsp bmi= weight/bmi;<br><br>

&nbsp  &nbsp  &nbsp lbmi.setText("BMI: "+bmi);<br>

if(bmi<18.5){<br><br>

&nbsp  &nbsp  &nbsp  result="Underweight";<br><br>

} else if (bmi>18.5 && bmi<25){<br><br>

&nbsp  &nbsp  &nbsp   result="normal";<br><br>

} else if(bmi > 25){<br><br>

&nbsp  &nbsp  &nbsp   result="Overweight :(";<br><br>

}<br><br>


lresult.setText("You are: "+result);<br><br>


&nbsp  &nbsp  }<br>
&nbsp }<br>
} <br>
<img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/20915432_1803594092990294_2508835261657363080_n.png?oh=26fb6a332cff17cc7a1e32ea312adefd&oe=5A23EDC0"></img>


</h3>
</div>


<div class="col-md-4">
  <a href="javapage2">Next Page</a>

</div>

<br>
<br>
<br>
<br>
<br>


<br>
<br>
<br>
<br>
<br>
