


<head>

<style>

div#load_screen{
  background: #000;
  opacity: 1;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  height: 160px;
}

div#loading {
  color:#FFF;
  width:120px;
  height:24px;
  margin: 100px auto;
}

</style>


<script>
window.addEventListener("load", function(){
  var load_screen = document.getElementById("load_screen");
  document.body.removeChild(load_screen);
});
</script>


</head>
  <body>
    <div id = "load_screen"><div id= "loading">Loading Document...</div></div>
<br>
<br>
<br>
<br>
<br>
<br>
    <h1>**Page in process** Will be adding web sites that I've used to learn / expand my
      coding knowledge that are low or no cost.<h1>

  </body>


</head>
<br>
<br>
