<head>
  <h1>PacMan</h1>

  <div class= "dotted">

</head>

<body>


  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <br>
  <div class="wall"></div>
  <div class="pacman"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <br>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <br>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <br>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <br>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <br>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <br>
  <div class="black"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="black"></div>
  <br>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <br>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="black"></div>
  <div class="black"></div>
  <div class="black"></div>
  <div class="black"></div>
  <div class="black"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <br>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="black"></div>
  <div class="black"></div>
  <div class="black"></div>
  <div class="black"></div>
  <div class="black"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <br>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <br>
  <div class="wall"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="wall"></div>
  <br>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>
  <div class="wall"></div>





</div>
</body>
