<html>
<head>
  <h1>Dev Pong</h1>
</head>
<body>




<img src = "https://www-assets0.herokucdn.com/assets/products/platform-86ed035335ac2a59e85e00773b18ec6baa851f2e37fd98f1c0237f609423eca9.png"></img>

<%= audio_tag "Pong_Beat.m4a", class: "audio-play" %>
<p class="btn btn-primary audioButton">Play</p>

  <canvas id="pong" width="600" height="400"/>

  <script>

  $(".audioButton").on("click", function() {
  $(".audio-play")[0].currentTime = 0;
  return $(".audio-play")[0].play();
});
</script>
  </body>

</html>
