<html>

<head>
  <h1>Super Mario</h1>



  </head>
  <body>
    <canvas id="screen" width="640" height="640"></canvas>
  </body>

<script type="module" >

function loadImage(url) {
  return new Promise(resolve => {
    const image = new Image();
    image.addEventListener('load', () => {
      resolve (image);
    });
    image.src = url;
  });
}

const canvas = document.getElementById('screen');
const context = canvas.getContext('2d');

context.fillRect(0,0,50,50);

loadImage('/images/tiles.png')
.then(image => {
  context.drawImage(image, 0, 0);

});
function hello() {
  alert("Still not working yet :(");
}
hello();

</script>



</html>

<!-- src="/app/assets/javascripts/main.js" -->
